@import "./vars.scss";

.squadPage {
  margin-left: $gutterLarge;
  margin-right: $gutterLarge;
  color: $white;

  button {
    margin-bottom: $gutterSmall;
    color: $white;
  }

  .accordion-button:not(.collapsed) {
    color: $white;
  }
  .accordion-item {
    background-color: $lightGrey;
    button {
      background-color: $purple;
    }
  }

  .accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
