$darkGrey: #232627;
$lightGrey: #121416;
$pink: #ff0086;
$blue: #0270f2;
$green: #38b273;
$purple: #7c28c4;

$gutterLarge: 10vw;
$gutterMedium: $gutterLarge / 2;
$gutterSmall: $gutterMedium / 2;

$fontLarge: 'Ubuntu', sans-serif;
$fontSmall: 'Nunito', sans-serif;

$roundCorner: 5px;




