$lightGrey: #232627;
$darkGrey: #121416;
$pink: #ff0086;
$blue: #0270f2;
$green: #38b273;
$purple: #7c28c4;
$white: #f5f5f5;

$gutterLarge: 4vw;
$gutterMedium: $gutterLarge / 2;
$gutterSmall: $gutterMedium / 2;

$fontLarge: 'Ubuntu', sans-serif;
$fontSmall: 'Nunito', sans-serif;

$roundCorner: 5px;




